* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.sectionA {
    text-align: center;
    max-width: 800px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 90px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #444;
    line-height: 1.2;
    margin-bottom: 15px;
}

.description {
    font-size: 1.1rem;
    color: #888;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 600px;
}

.button-group {
    display: flex;
    gap: 20px;
    /* flex-wrap: wrap; not really needed */
    /* justify-content: center; not really needed */
}

.download-btn {
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.download-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.ios-btn {
    background-color: #2ecc71;
    color: white;
}

.mac-btn {
    background-color: #7d5fff;
    color: white;
}